header,footer {
	position: relative;
	text-align: center;
}

.intro {
	margin-top: 10px;
}

.intro p {
	font-size: 1.125em;
	margin: 0px 0 15px;
}

.section {
	margin: 0 0 0px;
	overflow: hidden;
}

.section p {
	text-align: center;
}

/* Basic Styles
================================================== */

html {
	
}

body {
	background: #fff;
	line-height: 1.6;
	font-family: "Open Sans", sans-serif;
	color: #878787;
	margin: 10px;
}

/* Images
================================================== */

img {
	max-width: 100%;
	height: auto;
}

/* Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
	color: #383838;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-variant: normal;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	padding: 12px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

h1, .h1 {
	font-size: 1.625em;
	margin-bottom: 15px;
}

h2, .h2 {
	font-size: 1.625em;
	margin-bottom: 20px;
}

h3, .h3 {
	font-size: 1.625em;
	margin: 20px 0;
}

h4, .h4 {
	font-size: 1.250em;
	margin: 10px 0;
}

h5, .h5 {
	font-size: 1.0em;
	margin: 10px 0;
}

p {
	font-size: 1em;
	font-style: normal;
	text-align: left;
	margin: 0 0 20px;
}

p img {
	margin: 0;
}

p.lead {
	font-size: 1.250em;
	color: #777;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

small {
	font-size: 80%;
}

blockquote, blockquote p {
	font-size: 1em;
	color: #777;
	font-style: italic;
}

blockquote {
	margin: 0 0 20px;
	padding: 10px 20px 0;
}

blockquote cite {
	display: block;
	font-size: 0.750em;
	color: #555;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555;
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 20px;
	height: 0;
}

/* Links
================================================== */

a, a:visited {
	color: #000;
	text-decoration: none;
	outline: 0;
	-webkit-transition: color 0.3s ease-out 0s;
	-moz-transition: color 0.3s ease-out 0s;
	-o-transition: color 0.3s ease-out 0s;
	transition: color 0.3s ease-out 0s;
}

a:hover, a:focus {
	color: #f00;
}

p a, p a:visited {
	line-height: inherit;
}

/* Lists
================================================== */

ul, ol {
	list-style: none;
	text-align: left;
	margin: 0 0 24px 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul, li > ol {
	margin: 0 0 0 20px;
}

/* Forms and Buttons
================================================== */

form * {
	outline: 0;
}

form div {
	position: relative;
	margin: 0 0 12px;
	overflow: visible;
}

input {
	padding: 12px;
	margin: 0;
	border: 1px solid #ccc;
	background: #fafafa;
	color: #3a444f;
	font-family: "Open Sans", sans-serif;
	font-size: 0.938em;
	line-height: normal;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

#contactForm input {
	width: 100%;
}

input:focus {
	background: #fff;
}

input:focus {
	background: #fff;
}

textarea {
	width: 100%;
	height: 150px;
	padding: 12px;
	margin: 0;
	border: 1px solid #ccc;
	background: #fafafa;
	color: #3a444f;
	font-family: "Open Sans", sans-serif;
	font-size: 0.938em;
	line-height: normal;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

textarea:focus {
	background: #fff;
}

select {
	background: #f3f2f2 url("/images/icon/arrow.png") no-repeat center right;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 0.938em;
	color: #a7a7a7;
	padding: 10px;
	width: 100%;
	height: 48px;
	line-height: 1;
	border: 1px solid #e1e1e1;
	border-radius: 0;
}

label {
	font-size: 0.938em;
}

/* Menu
================================================== */

#main-menu {
	display: block;
	text-align: center;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	margin-top: 2px;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

nav {
	height: auto;
	width: auto;
	position: relative;
}

nav ul {
	overflow: hidden;
	padding: 0 75px 0 75px;
	margin: 0 auto;
	width: 100%;
}

nav li {
	display: inline;
	float: left;
	margin: 8px 0;
	width: auto;
}

nav a {
	display: inline-block;
	width: auto;
	text-align: left;
	text-decoration: none;
	line-height: 40px;
	height: auto;
}

nav li a {
	border-color: #d3d3d3;
	border-right: 1px solid #d3d3d3;
	padding: 0 25px 0 25px;
	margin: 0px 0;
	border-top: none;
	border-bottom: none;
	color: #646464;
	font-size: 1.125em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

nav li:last-child a {
	border-right: 0;
}

nav a#pull {
	display: none;
}

@media screen and (max-width: 959px) {

nav {
	height: auto;
}

nav ul {
	width: 100%;
	display: block;
	height: auto;
}

nav li {
	border-bottom: 1px solid #d3d3d3;
	width: 100%;
	float: left;
	position: relative;
}

nav li a {
	padding: 0 25px 0 25px;
	margin: 0px 0;
	border-right: 0;
}

nav a {
	text-align: center;
	width: 100%;
}

nav li:last-child {
	border-bottom: 0;
}

}

@media only screen and (max-width : 959px) {

nav {
	border-bottom: 0;
}

nav ul {
	display: none;
	padding: 0 80px  0px 0px;
	margin: 0 auto;
	width: 98%;
	height: auto;
}

nav li {
	border-bottom: 1px solid #d3d3d3;
	width: 100%;
	float: left;
	position: relative;
}

nav li a {
	padding: 0 25px 0 25px;
	margin: 0px 0;
	border-right: 0;
}

nav a {
	text-align: center;
	width: 100%;
}

nav li:last-child {
	border-bottom: 0;
}

nav a#pull {
	display: block;
	background-color: #000;
	width: 100%;
	text-align: left;
	text-indent: 10px;
	position: relative;
	color: #fff;
	text-transform: uppercase;
}

nav a#pull:after {
	content: "";
	background: url('/images/icon/nav-icon.png') no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
}

}

@media only screen and (max-width : 320px) {

nav li {
	display: block;
	float: none;
	width: 100%;
}

nav li a {
	border-bottom: 1px solid #576979;
}

}

.logo {
	display: none;
}

.callbutton {
	background: url('/images/icon/call.png') no-repeat;
	width: 64px;
	height: 64px;
	color: #000;
	position: absolute;
	top: 25px;
	right: 22px;
	border: 0;
	display: block;
	font-size: 1em;
	cursor: pointer;
	text-align: center;
}

.callbutton>span {
	margin-top: 60px;
	margin-left: -22px;
	display: block;
	width: 120px
}

.map {
	margin-bottom: 60px
}

.map .inner {
	background: #ddd;
	padding: 0
}

#gmap_canvas img {
	max-width: none!important;
	background: none!important
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 60%;
    padding-top: 30px;
    height: 0;
    overflow: auto;
}
 
.responsive-iframe-container iframe,  
.vresponsive-iframe-container object, 
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}