{% extends "index.html" %}
{%  block content %}
<p>We take pride in offering our clients experienced trainers who have the expertise to transform their bodies and physical abilities.</p>
<h3>Gary Foley</h3>
<img src="/images/other/gary.jpg" alt="Gary Foley" width="150" height="150" style="float: left;
margin: 10px;" />
<p>Gary Foley has over 20 years of experience with white collar boxing in London. He has been a qualified trainer for over 9 years, and spent a good portion of his career in competition against some of the best boxers in the UK. His enthusiasm and passion for both physical fitness and boxing come to the forefront in every session as he guides clients through his exciting yet challenging training. Pushing his clients to their limits, Gary is the man to see if you’re serious about results.</p>
<p><a href="tel:+447749116927"><span><strong>Call Now: 07749 116927</strong></span></a></p>
<h3>Sean Murphy</h3>
<img src="/images/other/sean.jpg" alt="Sean Murphy" width="150" height="150" style="float: left;
margin: 10px;" />
<p>Sean Murphy also has decades of experience in the boxing and fitness training industry. He enjoyed tremendous success as a boxer, winning several national titles including The British Lonsdale Belt Outright, Commonwealth games, and even a Gold Medal.<br />He also competed for a World Title. Obviously, his experience and knowledge is invaluable, and our customers gain exclusive access to his wealth of knowledge when they sign up for our training.</p>
<p><a href="tel:+447729980677"><span><strong>Call Now: 07729 980677</strong></span></a></p>
<h4>You simply cannot find trainers of this level and skills set anywhere else in London.</h4>
{% endblock %}