{% extends "index.html" %}
{%  block content %}
<p>At White Collar Boxing Training, we take our clients to the limits of their abilities and show them just how powerful they can truly be. Our white-collar boxing training is based on the standards of the international white-collar boxing association, and is not for the faint of heart. However, we do offer a variety of training levels based on your unique skill set. These include:</p>
<ul>
	<li>Basic or Beginner Training</li>
	<li>Amateur or Mid-Level Training</li>
	<li>Advanced Boxing Training</li>
</ul>	
<h3>Our Training Sessions</h3>
<p>In addition to our skill levels, we also offer a variety of in-depth training secrets that only the experts are aware of. Our trainers will help you understand the basics of white-collar boxing and guide you through each step one-on-one until you master each skill.</p>
<p>We set our white collar boxing clients up with an intense training program that lasts for several weeks, or until the student is ready to advance to the next stage of boxing. We do this to ensure that you achieve the skill sets necessary to win in the ring. We also provide you with nutritional guidance to help you build strength and burn fat. Our physical and psychological training conditions your mind and body to work in perfect unison and enables you to advance in your white-collar boxing training program.</p>
<p>Train the right way. Train with us at White Collar Boxing Training in London, UK.</p>			
{% endblock %}
