<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} | {{ subtitle }}</title>
    <meta charset="utf8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="white collar boxing training,{{ keywords }}">
    <meta name="author" content="Reedia Limited">
    <meta name="dcterms.rightsHolder" content="Copyright © 2015 Reedia Limited. All rights reserved.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="stylesheet" href="/stylesheets/wcbt-min.css">
    <link rel="stylesheet" href="/stylesheets/print-min.css" type="text/css" media="print">
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-57x57.png" />
    <link rel="shortcut icon" href="/images/favicon/favicon-192x192.png" />
    <link rel="shortcut icon" href="/images/favicon/favicon-128x128.png" />
    <link rel="shortcut icon" href="/images/favicon/favicon-48x48.png" />
    <link rel="shortcut icon" href="/images/favicon/favicon-32x32.png" />
    <link rel="shortcut icon" href="/images/favicon/favicon-16x16.png" />
    <link rel="icon" href="/images/favicon/favicon-192x192.png" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <header role="banner">
                    <a href="/" title="White Collar Boxing Training London">
                        <picture>
                            <source srcset="/images/logo/whitecollarboxingtraining.svg" type="image/svg+xml"><img src="/images/logo/whitecollarboxingtraining.png" width="250" height="250" alt="Logo" />
                        </picture>
                    </a>
                    <h1 class="logo">White Collar Boxing Training</h1>
                    <div class="addthis_responsive_sharing"></div>
                    <nav class="clearfix">
                        <div class="section">
                            <div id="main-menu">
                                <ul class="clearfix">
                                    <li><a href="/" title="Welcome" class="uppercase"> Welcome </a>
                                    </li>
                                    <li><a href="/story.html" title="Our Story" class="uppercase"> Our Story </a>
                                    </li>
                                    <li><a href="/whats-involved.html" title="What's involved" class="uppercase"> What's involved </a>
                                    </li>
                                    <li><a href="/trainers.html" title="Trainers" class="uppercase"> Trainers </a>
                                    </li>
                                    <li><a href="/classes.html" title="Classes" class="uppercase"> Classes </a>
                                    </li>
                                    <li><a href="/get-in-touch.html" title="Get in touch" class="uppercase"> Get in touch </a>
                                    </li>
                                    <li><a href="https://plus.google.com/+WhiteCollarBoxingTrainingLondon" rel="publisher">Google+</a>
                                    </li>
                                </ul><a href="" id="pull"> Menu </a>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="sixteen columns">
                <main role="main">
                    <div>
                        <section>
                            <h2>{{ subtitle }} 
                            <script language="javascript" type="text/javascript">
                            //<![CDATA[
								document.write('<fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>');
							//]]>
							</script>
							</h2><a href="tel:+447749116927" class="callbutton"><span><strong>Call Now<br/>07749 116927</strong></span></a> {{ banner }} {% block content %}
                            <h3>Release Your Inner Athlete with White Collar Boxing Training!</h3>
                            <p>Offers premier world class coaching for professionals throughout London and the UK.</p>
                            <p>We help professionals suit up and properly prepare for their big fight regardless of their current ability or skill set. We welcome both men and women into our rings, and extend customised sessions to help our clients learn the ropes the right way. White-collar professionals can step into our facilities and learn how to train just like a professional boxer with our highly skilled athletic trainers. Our goal is to help each of our clients learn how to become a real boxer with advanced methods that are sure to improve their physical strength and agility.</p> {% endblock %} </section>
                    </div>
                </main>
            </div>
        </div>
        <div class="row">
            <div class="sixteen columns">
                <footer role="contentinfo">
                    <hr>
                    <div class="section">
                        <p> Copyright &#169; <a href="http://www.reedia.com/">Reedia Limited</a> 2015. All rights reserved. </p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="/javascripts/wcbt.min.js"></script>
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54ce532e70dd0683" async="async"></script>
    <script>
    (function(d, e, j, h, f, c, b) {
        d.GoogleAnalyticsObject = f;
        d[f] = d[f] || function() {
            (d[f].q = d[f].q || []).push(arguments)
        }, d[f].l = 1 * new Date();
        c = e.createElement(j), b = e.getElementsByTagName(j)[0];
        c.async = 1;
        c.src = h;
        b.parentNode.insertBefore(c, b)
    })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");
    ga("create", "UA-59181846-1", "auto");
    ga("send", "pageview");

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else if (response.status === 'not_authorized') {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        } else {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
        }
    }

    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId: '1015211445160390',
            cookie: true, // enable cookies to allow the server to access 
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.1' // use version 2.1
        });

        // Now that we've initialized the JavaScript SDK, we call 
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
        });
    }
    </script>
    <!-- (function(e, a, f) { var c, b = e.getElementsByTagName(a)[0]; if (e.getElementById(f)) { return } c = e.createElement(a); c.id = f; c.src = "//connect.facebook.net/en_US/sdk.js"; b.parentNode.insertBefore(c, b) }(document, "script", "facebook-jssdk"));
</script> -->
</body>

</html>