{% extends "index.html" %}
{%  block content %}
<p>We do a range of boxing classes and fitness sessions suitable for everyone. Throughout the week there are regular training classes/sessions to help work on your fitness and conditioning as well as boxing training sessions.</p>
<p>Personal boxing and fitness training sessions are also available, to find out more call now on <a href="tel:+447749116927"><span><strong>07749 116927</strong></span></a>.</p>
<div class="responsive-iframe-container">
	<iframe src="https://www.google.com/calendar/embed?title=Class%20TimeTable&amp;showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=386&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23FFFFFF&amp;src=reedia.com_s6d1nb8sn6qkarbuo2m6pt6ds0%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FLondon" style=" border-width:0;" width="960" height="386" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}