{% extends "index.html" %}
{%  block content %}
<p>We hold a variety of classes at our gym. Throughout the week there are regular circuit training sessions to help work on your fitness and also general public boxing training sessions.</p>
<div class="responsive-iframe-container">
	<iframe src="https://www.google.com/calendar/embed?title=Class%20TimeTable&amp;showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=en_GB&amp;bgcolor=%23FFFFFF&amp;src=reedia.com_s6d1nb8sn6qkarbuo2m6pt6ds0%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="960" height="600" frameborder="0" scrolling="no"></iframe>
</div>	
{% endblock %}