<!DOCTYPE html>
<html>
	<head>

		<title>White Collar Boxing Training | {{ title }}</title>

		<meta charset="utf8">
		<meta name="description" content="{{ description }}">		
		<meta name="keywords" content="white collar boxing training,{{ keywords }}">
		<meta name="author" content="Reedia Limited (hello@reedia.com)">

		<meta name="dcterms.rightsHolder" content="Copyright © 2015 Reedia Limited. All rights reserved.">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open%20Sans">
		<link type="text/plain" rel="author" href="/humans.txt" />

		<link rel="stylesheet" href="/stylesheets/normalize-min.css">
		<link rel="stylesheet" href="/stylesheets/skeleton-min.css">
		<link rel="stylesheet" href="/stylesheets/custom-min.css">

		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-180x180.png"/>		
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-152x152.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-57x57.png"/>

		<link rel="shortcut icon" href="/images/favicon/favicon-192x192.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-128x128.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-48x48.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-32x32.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-16x16.png"/>

		<link rel="icon" href="/images/favicon/favicon-192x192.png"/>

		<script src="/javascripts/html5.js"></script>
		<script src="/javascripts/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/app.js"></script>

	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="sixteen columns">
					<header role="banner">
						
						<a href="/" title="White Collar Boxing Training London">
							<picture>
								<source srcset="/images/logo/whitecollarboxingtraining.svg" type="image/svg+xml">
									<img src="/images/logo/whitecollarboxingtraining.png" width="250" height="250" alt="White Collar Boxing Training logo" />
							</picture>					
						</a>
						
						
						<h1 class="logo">White Collar Boxing Training</h1>
						<nav class="clearfix">
							<div class="section">
								<div id="main-menu">
									<ul class="clearfix">
										<li>
											<a href="/" title="Welcome" class="uppercase">
												Welcome
											</a>
										</li>
										<li>
											<a href="/story.html" title="Our Story" class="uppercase">
												Our Story
											</a>
										</li>
										<li>
											<a href="/trainers.html" title="Trainers" class="uppercase">
												Trainers
											</a>
										</li>
										<li>
											<a href="/whats-involved.html" title="What's involved" class="uppercase">
												What's involved
											</a>
										</li>
										<li>
											<a href="/get-in-touch.html" title="Get in touch" class="uppercase">
												Get in touch
											</a>
										</li>
									</ul>
									<a href="" id="pull">
										Menu
									</a>
								</div>
							</div>
						</nav>
					</header>
				</div>
			</div>

			<div class="row">
				<div class="sixteen columns">
					<main role="main">
						<div>
							<section>
								
								<h2>{{ title }}</h2>
								
								<a href="tel:+447749116927" class="callbutton"><span><strong>Call Now<br />07749 116927</strong></span></a>								
								
								{{ banner }}																															

								{% block content %}
								
								<h3>Release Your Inner Athlete with White Collar Boxing Training!</h3>
								{% endblock %}
								</section>		
							</div>
						</main>
					</div>
				</div>
				<div class="row">
					<div class="sixteen columns">

						<footer role="contentinfo">
							<hr>
							<div class="section">
								<p>
									Copyright &#64; Reedia Limited 2015. All rights reserved.
								</p>
							</div>
						</footer>
					</div>
				</div>
			</div>
		</body>
</html>