<!DOCTYPE html>
<html>
	<head>

		<title>{{ title }} | {{ subtitle }}</title>

		<meta charset="utf8">
		<meta name="description" content="{{ description }}">		
		<meta name="keywords" content="white collar boxing training,{{ keywords }}">
		<meta name="author" content="Reedia Limited">

		<meta name="dcterms.rightsHolder" content="Copyright © 2015 Reedia Limited. All rights reserved.">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link type="text/plain" rel="author" href="/humans.txt" />

		<link rel="stylesheet" href="/stylesheets/font-min.css">
		<link rel="stylesheet" href="/stylesheets/normalize-min.css">
		<link rel="stylesheet" href="/stylesheets/skeleton-min.css">
		<link rel="stylesheet" href="/stylesheets/custom-min.css">
		<link rel="stylesheet" href="/stylesheets/print-min.css" type="text/css" media="print">

		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-180x180.png"/>		
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-152x152.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-144x144.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-120x120.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-114x114.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" href="/images/icon/apple-touch-icon-57x57.png"/>

		<link rel="shortcut icon" href="/images/favicon/favicon-192x192.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-128x128.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-48x48.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-32x32.png"/>
		<link rel="shortcut icon" href="/images/favicon/favicon-16x16.png"/>

		<link rel="icon" href="/images/favicon/favicon-192x192.png"/>

		<script src="/javascripts/html5.min.js"></script>
		<script src="/javascripts/jquery-1.10.1.min.js"></script>
		<script src="/javascripts/app.min.js"></script>
		<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54ce532e70dd0683" async="async"></script>

	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="sixteen columns">
					<header role="banner">
						
						<a href="/" title="White Collar Boxing Training London">
							<picture>
								<source srcset="/images/logo/whitecollarboxingtraining.svg" type="image/svg+xml">
									<img src="/images/logo/whitecollarboxingtraining.png" width="250" height="250" alt="Logo" />
							</picture>					
						</a>
						
						
						<h1 class="logo">White Collar Boxing Training</h1>
						<div class="addthis_responsive_sharing"></div>
						<nav class="clearfix">
							<div class="section">
								<div id="main-menu">
									<ul class="clearfix">
										<li>
											<a href="/" title="Welcome" class="uppercase">
												Welcome
											</a>
										</li>
										<li>
											<a href="/story.html" title="Our Story" class="uppercase">
												Our Story
											</a>
										</li>
										<li>
											<a href="/trainers.html" title="Trainers" class="uppercase">
												Trainers
											</a>
										</li>
										<li>
											<a href="/whats-involved.html" title="What's involved" class="uppercase">
												What's involved
											</a>
										</li>
										<li>
											<a href="/classes.html" title="Classes" class="uppercase">
												Classes
											</a>
										</li>										
										<li>
											<a href="/get-in-touch.html" title="Get in touch" class="uppercase">
												Get in touch
											</a>
										</li>
									</ul>
									<a href="" id="pull">
										Menu
									</a>
								</div>
							</div>
						</nav>
					</header>
				</div>
			</div>

			<div class="row">
				<div class="sixteen columns">
					<main role="main">
						<div>
							<section>
								
								<h2>{{ subtitle }}</h2>
								<a href="tel:+447749116927" class="callbutton"><span><strong>Call Now<br />07749 116927</strong></span></a>								
								
								{{ banner }}																															

								{% block content %}
								
								<h3>Release Your Inner Athlete with White Collar Boxing Training!</h3>
								<p>Offers premier world class coaching for professionals throughout London and the UK.</p>
								<p>We help professionals suit up and properly prepare for their big fight regardless of their current ability or skill set. We welcome both men and women into our rings, and extend customised sessions to help our clients learn the ropes the right way. White-collar professionals can step into our facilities and learn how to train just like a professional boxer with our highly skilled athletic trainers. Our goal is to help each of our clients learn how to become a real boxer with advanced methods that are sure to improve their physical strength and agility.</p>
								{% endblock %}
								</section>		
							</div>
						</main>
					</div>
				</div>
				<div class="row">
					<div class="sixteen columns">

						<footer role="contentinfo">
							<hr>
							<div class="section">
								<p>
									Copyright &#169; <a href="http://www.reedia.com/">Reedia Limited</a> 2015. All rights reserved.
								</p>
							</div>
						</footer>
					</div>
				</div>
			</div>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-59181846-1', 'auto');
			  ga('send', 'pageview');

			</script>
		</body>
</html>