{% extends "index.html" %}
{%  block content %}
<p>At White Collar Boxing Training, we take pride in offering our clients experienced trainers who have the expertise to transform their bodies and physical abilities.</p>
<h3>Gary Foley</h3>
<p>Gary Foley has over 20 years of experience with white collar boxing in London. He has been a qualified boxing trainer for over 9 years, and spent a good portion of his career in competition against some of the best boxers in the UK. His enthusiasm and passion for both physical fitness and boxing come to the forefront in every session as he guides clients through his exciting yet challenging training. Pushing his clients to their limits, Gary is the man to see if you’re serious about white-collar boxing training.</p>
<h3>Sean Murphy</h3>
<p>Sean Murphy also has decades of experience in the boxing and fitness training industry. He enjoyed tremendous success as a boxer, winning several national titles including The British Lonsdale Belt Outright, Commonwealth games, and even a Gold Medal. He also competed for a World Title. Obviously, his experience and knowledge is invaluable, and our clients gain exclusive access to his wealth of knowledge when they sign up for our training.</p>
<p>You simply cannot find trainers of this level and skills set anywhere else in London.</p>
{% endblock %}